		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
			<div class="login-box">

				<!-- login form -->
				<form action="rails_admin" method="post" class="sky-form boxed" style="margin-right: auto; margin-left: auto; width: 300px">
					<header><i class="fa fa-users"></i> Admin Login </header>
					<fieldset>	
							<label class="label">E-mail</label>
						<section>
							<label class="input">
								<i class="icon-append fa fa-envelope">E-mail</i>
								<input type="email">
								<span class="tooltip tooltip-top-right">Email Address</span>
							</label>
						</section>
						
						<section>
							<label class="label">Password</label>
							<label class="input">
								<i class="icon-append fa fa-lock">Password</i>
								<input type="password">
								<b class="tooltip tooltip-top-right">Type your Password</b>
							</label>
						</section>

					</fieldset>

					<footer>
						<button type="submit" class="btn btn-primary btn-lg fs-15">Sign In</button>
					</footer>
				</form>


		
