<%= form_with(model: buildingdetail, local: true) do |form| %>
  <% if buildingdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buildingdetail.errors.count, "error") %> prohibited this building_detail from being saved:</h2>

      <ul>
      <% buildingdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
