<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings <%= @customer.name %>!</h1>
    <p>We thank you for contacting Rocket Elevators to discuss the opportunity to /
    contribute to your project [Project Name].</p>
    <p>A representative from our team will be in touch with you very soon. We look forward to
    demonstrate the value of our solutions and help you choose the appropriate product given your requirements. </p>
    <p>We'll talk soon! </p>
    <p>The Rocket Team </p>
    <%= image_tag("R2.png") %>
  </body>
</html>